# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_NAME=       
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=   
AZURE_OPENAI_API_VERSION=2024-02-01

# Redis
REDIS_URL=

# Qdrant
QDRANT_URL=
QDRANT_POLICY_COLLECTION=policy_docs
QDRANT_MEMORY_COLLECTION=session_memory

DEBUG = 
HF_TOKEN = 